/**
 * All of the CSS My Flows page is
 * included in this file.
 */

/* Default WP Admin Styles */

#wpwrap {
	background-color: #2b2b2b;
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
	border-right-color: #2b2b2b;
}

#wpfooter {
	display: none !important;
}

#wpwrap {
	height:auto !important;
}

/* JumpOff Styles */

.jo_hide {
	display:none !important;
}
.jo_show {
	display:block !important;
}

#jo_wrapper {
	position:absolute;
	width:100%;
	height:auto;
	min-height:800px;
	background-color: #2b2b2b;
	padding:60px auto;
	
}

/* Flow Archive */

.jo_recent_flows_title {
	text-align:center;
	margin: 40px auto;
	color: #efefef;
	font-size:20px;
}

#jo_recent_flows_table {
	padding-right: 10px;
}

#jo_recent_flows_table table {
	
	color: #efefef;
	background-color:#2F3438;
	border-radius:4px;
	border-collapse: collapse;
	
}

@media screen and (max-width:782px) {
	
	#jo_recent_flows_table table {
		width:100%;
		
	}

	.jo_hide_sm {
		display:none;
	}

}

@media screen and (min-width:782px) {
	#jo_recent_flows_table table {
		max-width:100%;
		margin:auto;
	}
	.jo_hide_sm {

	}
}

#jo_recent_flows_table table tr {
	height:40px;
}

#jo_recent_flows_table th {
	height:60px;
	font-size:16px;
	padding:0 10px;
	font-weight:normal;
	/*color:#2B9883;*/

}

#jo_recent_flows_table table td p{
	margin: 0 5px;
	color:#aaa;
	font-size:14px;
}

#jo_recent_flows_table table td input {
	display:inline-block;
	text-align:center;
	margin:auto;
}

.jo_table_header {
	
	
}

#jo_recent_flows_table tr:nth-child(even) {
    background-color: #2a2e32;
}
