/**
 * All of the CSS My Flows page is
 * included in this file.
 */

/* Default WP Admin Styles */

#wpwrap {
	background-color: #222;
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
	border-right-color: #222;
}

#wpfooter {
	display: none !important;
}

#wpwrap {
	height:auto !important;
}

/* JumpOff Styles */

.jo_hide {
	display:none !important;
}
.jo_show {
	display:block !important;
}

#jo_wrapper {
	position:absolute;
	width:100%;
	height:auto;
	min-height:800px;
	background-color: #222;
	padding:60px auto;
	
}

/* Flow Archive */

.jo_recent_flows_title {
	text-align:center;
	margin: 40px auto;
	color: #efefef;
}

#jo_recent_flows_table table {
	margin:auto;
	color: #efefef;
}

#jo_recent_flows_table table td p{
	margin: 0 5px;
	color:#aaa;
}

#jo_recent_flows_table table td input {
	display:inline-block;
	text-align:center;
	margin:auto;
}

.jo_table_header {
	background-color:#333;
}
