/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Default WP Admin Styles */

html {
	background-color: #352C3D;
}

#wpwrap {
	background-color: #352C3D;
}

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
	border-right-color: #352C3D;
}

#wpfooter {
	display: none !important;
}

#wpwrap {
	height:auto !important;
}

/* JumpOff Styles */

.jo_hide {
	display:none !important;
}
.jo_show {
	display:block !important;
}

#jo_wrapper {
	position:absolute;
	width:100%;
	height:auto;
	min-height:800px;
	background-color: #352C3D;
	padding:60px auto;
	
}

#jo_prompt {
	min-width:400px;
	width:auto;
	height:60px;
	display:block;
	text-align:center;
	clear:both;
	margin:60px auto 30px;
	font-size: 40px;
	color: #aaa;
}

#jo_prompt_me {
	display:block;
	margin:60px auto 30px;
}





.auto_wrapper {
	width: 40%;
	height: 60px;
	margin: 60px 30%;
	text-align: center;
	display: block;
	border: none;
	position:relative;
}

#jo_flow_box {
	width:100%;
	height:100%;
	background:#2b2b2b;
	color: #ddd;
	font-size: 40px;
	border:none;
	/* remove default focus styling */
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#jo_flow_box_overlay {
	width:100%;
	height:100%;
	border:2px solid #252525;
	border-radius:4px;
	position:absolute;
	top:0;
	z-index:70;
}

#jo_flow_fade {
	position:absolute;
	width:100px;
	height:100%;
	top:0;
	left:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2b2b+0,2b2b2b+18,2b2b2b+100&1+0,0.8+18,0+100 */
	background: -moz-linear-gradient(left,  rgba(43,43,43,1) 0%, rgba(43,43,43,0.8) 18%, rgba(43,43,43,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(43,43,43,1) 0%,rgba(43,43,43,0.8) 18%,rgba(43,43,43,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(43,43,43,1) 0%,rgba(43,43,43,0.8) 18%,rgba(43,43,43,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#002b2b2b',GradientType=1 ); /* IE6-9 */
}

/* Flow end box */

#jo_flow_end_overlay {
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0, .85);
	display:none;
	z-index:20;
}

#jo_flow_end_overlay.jo_show {
	display:block;
}

#jo_flow_end_box {
	position:relative;
	display:inherit;
	margin:auto;
	text-align:center;
	margin-top:360px;
}


/*  Flow Star */
.jo_flow_star {
	text-align:center;
	display:inline-block;
	height:60px;
	width:60px;
	margin:0 5px;
	position:relative;
}

.jo_flow_star:before {
	color:rgba(240,245,250,.6);
	left:0;
	font-size:60px;
	text-align:center;
	font-family: "dashicons";
	content: "\f154";
	position:relative;
	top:.4em;
	


}

.jo_flow_star:hover:before{
	color: #FBAD65;
	cursor:pointer;
}

.jo_flow_star[data-checked='1']:before {
	content: "\f155";
}

.jo_flow_star[data-checked='1']:hover:before {
	content: "\f154";
}

.jo_flow_star[data-checked='']:hover:before {
	content: "\f155";
}

/* Prompt Time Selector */

#jo_prompt_times_container {
	display:block;
	width:320px;
	height:60px;
	margin:40px auto;
	text-align:center;
	font-size:0;
	border-radius:5px;
	border-radius:5px;
	overflow:hidden;
}

#jo_prompt_times {
	width:auto;
	height:60px;
	margin-top:40px;
	box-shadow: 1px 1px 3px #111;
	font-weight:bold;
	display:inline;
	font-size:0;
	border-radius:5px;
	border-radius:5px;
	overflow:hidden;
	padding:0;
	white-space-collapsing:discard;
}

.jo_prompt_time {
	overflow:hidden;
	font-size: 24px;
	line-height: 14px;
	color: #aaa;
	width:79px;
	height:46px;
	display:inline-block;
	margin:0px;
	cursor: pointer;
	background: #2F3438;
	padding-top:12px;
	border-right: 1px solid #2b2b2b;
	border-bottom: 4px solid #2F3438;
	white-space-collapsing:discard;
}

.jo_prompt_time span {
	font-size:12px;
	margin-bottom:0;
	line-height:8px;
	font-weight:normal;
}

.jo_prompt_time.jo_checked {
	border-bottom: 4px solid #2B9883;
	color: #ccc;
}

.jo_prompt_time:hover {
	border-bottom: 4px solid #fefefe;
}

#jo_bottom_logo {
	display:block;
	height:auto;
	margin:auto;
	margin-top:40px;
	text-align:center;
}

#jo_bottom_logo img {
	width:100px;
	display:inline-block;
	height:auto;

}

#jo_flow_counter_wrapper {
	display:none;
	width:100%;
	height:60px;
	margin:40px auto;
	text-align:center;
	font-size:0;
	border-radius:5px;
	border-radius:5px;
	
}

#jo_flow_counter_container {
	display:inline;
	padding:0;
	width:100%;
	height:100%;
}

#jo_show_counter {
	height:100%;
	width:40px;
	display:inline-block;
	float:left;
}

#jo_show_counter:before {
	font-size:40px;
	font-family: "dashicons";
	content: "\f177";
	color:rgba(240,245,250,.15);
	position:relative;
	
}

#jo_show_counter:hover:before {
	color: #FBAD65;
	opacity:1;
}

/* Flow Counter */
#jo_flow_counter {
	display:block;
	text-align:center;
	height:100%;
	font-size: 60px;
	line-height:30px;
	margin:0 auto;
	color:#eee;
	opacity:1;
	width:120px;
	display:inline-block;
	float:center

}

#jo_flow_end {
	height:100%;
	width:70px;
	display:inline-block;
	float:right;
	color:#eee;
	font-size:30px;

}

#jo_flow_end:before {
	font-size:40px;
	font-family: "dashicons";
	content: "\f310";
	color:rgba(240,245,250,.15);
	cursor:pointer;	
	position:relative;
	
}

#jo_flow_end:hover:before {
	color: #FBAD65;
	opacity:1;

}




